/*ADMIN SITE*/
select#selectmultiple_webbrowser{
    height:165px;
}


/*start/end page marker*/
div.startpage-marker, div.endpage-marker{
    border: 1px solid;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
}

/*Ranking*/
.ranking-question {
  background: #f8f9fa;
  margin-top: 20px;
}

.ranking-question-box-left, .ranking-question-box-right {
  border: solid 1px #6c757d;
  padding: 10px;
  border-radius: 3px;
}
.ranking-choice-box{
  padding:10px;
}
.ranking-choice{
  border: solid 1px #6c757d;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  background: #fff;
  margin:5px;
  width:auto;
  cursor:pointer;
}
.ranking-choice:hover {
  background: #007bff;
  color:#FFF;
}
.xmark{
    vertical-align: text-bottom;
    font-weight:500;
    color: red;
}

/*slider type question*/
div.sliderTypeQuestion{
  border:1px solid;
  padding:10px;
  border-radius: 3px;
}
div.sliderTypeQuestion_text{
  width:100%;
  text-align:center;
  background: #848484;
  padding:5px;
  color:#fff;
}

/*Likert*/
table.likert > tbody > tr > td > center > input {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/*PCA - Least - Best*/
.least-best-div > div {
  cursor:pointer;
  padding:5px;
  border:1px solid;
  width:100%;
  height:50px;
  margin-bottom:10px;
  border-radius: 3px; 
}
.least-best-checkbox > input {
  opacity:0;
}
.bg-least{
  background: red;
}
.bg-best{
  background: blue;
}