/*formbuilder controls*/
div.formbuilder-startPageMarker{
    display:none !important;
}
div.formbuilder-autocomplete{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-button{
    padding: 5px;
}
div.formbuilder-checkbox-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-date{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-file{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-header{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-number{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-paragraph{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-radio-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-select{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-text{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-textarea{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;  
}
div.formbuilder-starRating{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-single-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-multiple-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-customHTMLTemplate{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-likertQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-LeastBestQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-rankingQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-sliderQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}

div.formbuilder-customMC1Question{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 40px !important;
}

div.formbuilder-customMC2Question{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 40px !important;
}

div.formbuilder-endPageMarker{
    display:none !important;
}

/*ADMIN SITE*/
select#selectmultiple_webbrowser{
    height:165px;
}


/*start/end page marker*/
div.startpage-marker, div.endpage-marker{
    border: 1px solid;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
}

/*Ranking*/
.ranking-question {
  background: #f8f9fa;
  margin-top: 20px;
}

.ranking-question-box-left{
    background: #e8e8e8; 
    border: solid 1px #6c757d;
    padding: 10px;
}
.ranking-question-box-right {
  border: solid 1px #6c757d;
  padding: 10px;
}

.ranking-choice-box{
  padding:10px;
}
.ranking-choice{
  border: solid 1px #6c757d;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  background: #fff;
  margin:5px;
  width:auto;
  cursor:pointer;
}
.ranking-choice:hover {
  background: #007bff;
  color:#FFF;
}
.xmark{
    vertical-align: text-bottom;
    font-weight:500;
    color: red;
}

/*slider type question*/
div.sliderTypeQuestion{
  border:1px solid;
  padding:10px;
  border-radius: 3px;
}
div.sliderTypeQuestion_text{
  width:100%;
  text-align:center;
  background: #848484;
  padding:5px;
  color:#fff;
}

/*Likert*/
table.likert > tbody > tr > td > center > input {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/*PCA - Least - Best*/
.least-best-div > div {
  cursor:pointer;
  padding:5px;
  border:1px solid;
  width:100%;
  height:50px;
  margin-bottom:10px;
  border-radius: 3px; 
}
.least-best-checkbox > input {
  opacity:0;
}
.bg-least{
  background: red;
}
.bg-best{
  background: blue;
}

/*tf1, tf2, yn1, yn2*/
.input_radio_hidden {
    position: absolute;
    left: -9999px;
}
.input_radio_selected {
    background-color: #000;
    border-radius: 50%;
}
#radio-image-selector label {
    display: inline-block;
    cursor: pointer;
}
#radio-image-selector label:hover {
    background-color: #000;
    border-radius: 50%;
}
#radio-image-selector label img {
    padding: 3px;   
}

/*custom mc1*/
.custom_mc_row_question{
  margin-top: 10px;
  text-align:left;
}

.custom_mc_row {
    background: #f8f9fa;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #c7c7c7;
}

label.custom_mc_container{
  margin-bottom: 0px;
}

.custom_mc_container{
  text-align:center;
  width:100%;
  padding:10px;
  cursor:pointer;
}
.custom_mc_container:hover{
  font-weight:bold;
  border: 3px solid skyblue;
}

/*.custom_mc_radio, .custom_mc_checkbox{
    height: 0px;
    width: 0px;
} */

.custom_mc_radio_selected, .custom_mc_checkbox_selected{
  background: skyblue;
  font-weight:500;
}