/*nav*/
nav {
    display: flex;
    list-style: none;
}
/*end nav*/

/*privacy consent*/
#agree-1-2-error-msg{
    margin: 0px 2% 0px 2%;
    font-size: 12px;   
    font-style: italic;
    display:none;
}
/*end privacy consent*/

/*test content*/
.test-content{
    margin-top: 3%;
}
/*end test content*/

/*test timer*/
#test_timer{
    background: #eee;
    border: 1px solid;
    width: 125px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    float: right;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 14px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/*end test timer*/

/*formbuilder controls*/
div.formbuilder-startPageMarker{
    display:none !important;
}
div.formbuilder-autocomplete{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-button{
    padding: 5px;
}
div.formbuilder-checkbox-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-date{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-file{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-header{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-number{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-paragraph{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-radio-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-select{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-text{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-textarea{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;  
}
div.formbuilder-starRating{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-sliderTemplate{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-single-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-multiple-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-customHTMLTemplate{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-likertQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-LeastBestQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-rankingQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-sliderQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-endPageMarker{
    display:none !important;
}

/*Likert*/
table.likert > tbody > tr > td > center > input {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/*PCA - Least - Best*/
.least-best-div > div {
  cursor:pointer;
  padding:5px;
  border:1px solid;
  width:100%;
  height:50px;
  margin-bottom:10px;
  border-radius: 3px; 
}
.least-best-checkbox > input {
  opacity:0;
}
.bg-least{
  background: #dc3545;
  color:#FFF;
}
.bg-best{
  background: #007bff;
  color:#FFF;
}

/*Ranking*/
.ranking-question {
  background: #f8f9fa;
  margin-top: 20px;
}

.ranking-question-box-left, .ranking-question-box-right {
  border: solid 1px #6c757d;
  padding: 10px;
  border-radius: 3px;
}
.ranking-choice-box{
  padding:10px;
}
.ranking-choice{
  border: solid 1px #6c757d;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  background: #fff;
  margin:5px;
  width:auto;
  cursor:pointer;
}
.ranking-choice:hover {
  background: #007bff;
  color:#FFF;
}
.xmark{
    vertical-align: text-bottom;
    font-weight:500;
    color: red;
}

/*slider type question*/
div.sliderTypeQuestion{
  border:1px solid;
  padding:10px;
  border-radius: 3px;
}
div.sliderTypeQuestion_text{
  width:100%;
  text-align:center;
  background: #848484;
  padding:5px;
  color:#fff;
}

/*end formbuilder controls*/


/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8em;
}
/*end footer*/





/*When media wide is 500 less*/
@media only screen and (max-width: 500px) {
    html, body {
        font-size: 90%;
        font-weight: 300;
    }
    table{
        font-size: 90%;
        font-weight: 300;
    }
}
/*End media wide is 500 less*/