/*nav*/
nav {
    display: flex;
    list-style: none;
}
/*end nav*/

/*privacy consent*/
#agree-1-2-error-msg{
    margin: 0px 2% 0px 2%;
    font-size: 12px;   
    font-style: italic;
    display:none;
}
/*end privacy consent*/

/*test content*/
.test-content{
    margin-top: 3%;
}
/*end test content*/

/*test timer*/
#test_timer{
    background: #eee;
    border: 1px solid;
    width: 125px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    float: right;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 14px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/*end test timer*/

/*formbuilder controls*/
div.formbuilder-startPageMarker{
    display:none !important;
}
div.formbuilder-autocomplete{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-button{
    padding: 5px;
}
div.formbuilder-checkbox-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-date{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-file{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-header{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-number{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-paragraph{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-radio-group{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-select{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-text{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-textarea{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;  
}
div.formbuilder-starRating{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-sliderTemplate{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-single-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-multiple-answer-template{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px; 
}
div.formbuilder-customHTMLTemplate{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;   
}
div.formbuilder-likertQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-LeastBestQuestion{
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 5px;
    border-radius: 3px;
}
div.formbuilder-endPageMarker{
    display:none !important;
}

/*PCA - Least - Best*/
.least-best-div > div {
  cursor:pointer;
  padding:5px;
  border:1px solid;
  width:100%;
  height:50px;
  margin-bottom:10px;
  border-radius: 3px; 
}
.least-best-checkbox > input {
  opacity:0;
}
.bg-least{
  background: red;
}
.bg-best{
  background: blue;
}

/*end formbuilder controls*/


/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8em;
}
/*end footer*/





/*When media wide is 500 less*/
@media only screen and (max-width: 500px) {
    html, body {
        font-size: 85%;
    }
    table{
        font-size: 85%;
    }
}
/*End media wide is 500 less*/